html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
}

/* -- NAVIGATION STYLES -- */
.logotype {
    background: url(../image/logotype.svg);
    height: 36px;
    width: 119px;
    margin-right: 40px;
}

.logotype-green {
    background: url(../image/logotype-green.svg);
    height: 35px;
    width: 116px;
}

.logotype-mobile {
    background: url(../image/logotype.svg);
    height: 36px;
    width: 119px;
}

.bg-green {
    background: #008041;
}

.bg-green > .container > .collapse.navbar-collapse > .navbar-nav > .nav-item > .nav-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E8D6AD;
}

.bg-green > .container > .collapse.navbar-collapse > .nav > .nav-item > .nav-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #E8D6AD !important;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.icon-nav-lock {
    background: url(../image/icons/standart/lock.svg);
    height: 24px;
    width: 24px;
}

.icon-nav-cart {
    background: url(../image/icons/standart/cart.svg);
    height: 24px;
    width: 24px;
}

.icon-nav-email {
    background: url(../image/icons/standart/email.svg);
    height: 24px;
    width: 24px;
}

.icon-nav-telephone {
    background: url(../image/icons/standart/telephone.svg);
    height: 24px;
    width: 24px;
}

.icon-nav-hamburger {
    display: flex;
    background: url(../image/icons/standart/hamburger.svg);
    height: 24px;
    width: 24px;
}

.navbar-nav {
    flex-direction: row;
    gap: 25px;
}

.nav {
    gap: 25px;
}

button.navbar-toggler {
    border: none;
}

.offcanvas {
    width: 100% !important;
}

.navbar-nav.navbar-offcanvas {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #423F3F;
    --bs-nav-link-padding-y: 0;
}

.offcanvas-header {
    border-bottom: 1px solid rgba(66, 63, 63, 0.1);
    margin-bottom: 10px;
}

.linenav {
    opacity: 0.2;
    border-bottom: 1px solid rgba(66, 63, 63, 0.5);
    margin: -5px -15px;
}

.header-headline {
    background: rgba(66, 63, 63, 0.1);
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: rgba(66, 63, 63, 0.5);
    padding: 5px 15px;
    margin: 20px -15px 20px -15px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icon-info {
    height: 30px;
    width: 30px;
    background: url(../image/icons/nav/info.svg);
}

.nav-icon-list {
    height: 30px;
    width: 30px;
    background: url(../image/icons/nav/list-boxes.svg);
}

.nav-icon-book {
    height: 30px;
    width: 30px;
    background: url(../image/icons/nav/book.svg);
}

.nav-icon-facebook {
    height: 30px;
    width: 30px;
    background: url(../image/icons/nav/facebook.svg);
}

.nav-icon-telephone {
    height: 30px;
    width: 30px;
    background: url(../image/icons/nav/telephone.svg);
}

.nav-icon-mail {
    height: 30px;
    width: 30px;
    background: url(../image/icons/nav/mail.svg);
}

/* -- HEADER STYLES -- */
.header-main {
    position: relative;
    background: url(../image/header.png);
    height: 600px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    top: 60%;
    transform: translateY(-60%);
    width: 70%;
}

.header-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    width: 50%;
}

.btn-subscribe {
    background: #008041;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E8D6AD;
    text-decoration: none;
    padding: 15px 60px;
}

/* -- SECTION -- */
.text-aboutus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.image-aboutus {
    background: url(../image/burger.svg) no-repeat;
    background-size: 70%;
    height: 282px;
}

.headline {
    display: inline-flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #008041;
}

.text-content {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #423F3F;
}

.readmore {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #008041;
    text-decoration: none;
    border: 1px solid #008041;
    padding: 15px 40px;
}

/* -- SECTION: info -- */
section.info {
    margin: 150px 0;
}

.container.content-index {
    z-index: 10;
    margin-bottom: -400px;
}

.greenback {
    background: url(../image/greenback.jpg);
    height: 568px;
    z-index: 5;
}

.text-info-content {
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #423F3F;
    gap: 30px;
    flex-direction: column;
    width: 70%;
}

.right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-info {
    display: flex;
    background: url(../image/caramel.jpg) no-repeat 50%;
    width: 90%;
    height: 588px;
    align-content: flex-end;
}

.image-water {
    display: flex;
    background: url(../image/water.jpg) no-repeat right;
    height: 1033px;
    width: 90%;
    justify-content: flex-end;
    float: right;
}

/* -- PRODUCTS -- */
.products-content {
    margin: 20px 0;
}

.content-header {
    width: 40%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 5px;
}

.product-image {
    position: relative;
    background: rgb(216, 216, 216);
    height: 280px;
    width: 100%;
}

.product-body {
    padding: 10px 30px;
}

.product-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #423F3F;
}

.product-desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(66, 63, 63, 0.5);
}

h2.content-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    text-transform: uppercase;
    color: #423F3F;
}

h6.content-desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: rgba(66, 63, 63, 0.5);
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    display: flex;
    background: #008041;
    border: none;
    border-radius: 0;
    font-size: 16px;
    width: 40px;
    height: 40px;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    justify-content: center;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: #E7E4C7 !important;
    color: #008041 !important;
    text-decoration: none;
}

.owl-dots {
    display: none;
}

.owl-nav {
    display: flex;
    gap: 10px;
}

.owl-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.removegoods {
    position: absolute;
    display: flex;
    background: #dc3545;
    color: #FFF;
    font-size: 24px;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    top: -20px;
    right: -20px;
}

.select-count-cart {
    margin: 10px 0;
}

/* -- SECTION Subscribe -- */
.section-subscribe {
    position: relative;
    background: url(../image/goldback.jpg);
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-subscribe-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-content: center;
    text-align: center;
}

.subscribe-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: flex-end;
    color: #423F3F;
}

.subscribe-desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: rgba(66, 63, 63, 0.5);
    width: 70%;
}

/* -- PAGES STYLES -- */
.namepage {
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    justify-content: center;
}

.header-content.header-pages {
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -60%);
}

.image-page-about {
    height: 478px;
    background: url(../image/page-about.jpg);
}

li.nav-about {
    color: #008041; /* Цвет маркеров */
}
li.nav-about span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #423F3F;
}

.container.content-about {
    z-index: 10;
    margin-bottom: -300px;
}

.title-page-about {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    color: #008041;
}

.text-page-about {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #423F3F;
}

.about-content-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    color: #009F49;
}

.about-content-text2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #423F3F;
}

.about-content-image1 {
    height: 392px;
    width: 100%;
    background: url(../image/Rectangle\ 46.jpg);
    background-size: 100%;
}

.about-content-image2 {
    height: 392px;
    width: 100%;
    background: url(../image/Rectangle\ 47.jpg);
    background-size: 100%;
}

.about-text {
    margin: -100px 0 50px 0;
}

.about-content-2 {
    margin-bottom: 30px;
}

.about-content-imgtext {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    color: #008041;
    padding: 20px;
}

.about-img-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.header-about {
    background: url(../image/about.jpg);
    background-size: cover;
}

.contact-content-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
    color: #008041;
}

.contact-content-desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #423F3F;
}

.icon-green-facebook {
    background: url(../image/icons/green/facebook-green.svg);
    height: 30px;
    width: 30px;
}

.icon-green-mail {
    background: url(../image/icons/green/mail-green.svg);
    height: 30px;
    width: 30px;
}

.icon-green-telephone {
    background: url(../image/icons/green/telephone-green.svg);
    height: 30px;
    width: 30px;
}

.contact-element {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text-contact {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #423F3F;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* -- FOOTER STYLES -- */
.footer-vm {
    background: #008041;
    padding: 40px 0 0 0;
}

.logotype-footer {
    display: flex;
    background: url(../image/logotype.svg) no-repeat;
    height: 76px;
    width: 252px;
    background-size: 70%;
}

.company-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    color: #E8D6AD;
}

.company-info, .phone-name, .email-name, .social-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E7E4C7;
    margin-bottom: 2px;
}

.phone-number, .email-adress {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E8D6AD;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-facebook {
    display: inline-flex;
    background: url(../image/icons/social/facebook.svg);
    height: 24px;
    width: 24px;
}

.icon-instagram {
    display: inline-flex;
    background: url(../image/icons/social/instagram.svg);
    height: 24px;
    width: 24px;
}

.icon-yelp {
    display: inline-flex;
    background: url(../image/icons/social/yelp.svg);
    height: 32px;
    width: 32px;
}

.copyright {
    display: flex;
    background: rgba(66, 63, 63, 0.5);
    padding: 17px;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #E8D6AD;
}

.copyright {
    display: flex;
    background: rgba(66, 63, 63, 0.5);
    padding: 17px;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #E8D6AD;
    margin-top: 30px;
}

.footer-header {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E7E4C7;
    margin-bottom: 25px;
}

.footer-navigation > .footer-nav {
    margin: 0;
    padding: 0;
}

.footer-navigation > .footer-nav > .link-footer {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-navigation > .footer-nav > .link-footer > a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E8D6AD;
    text-decoration: none;
}

.form-control.form-control-footer {
    border: 1px solid #E7E4C7;
    background: transparent;
    border-radius: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #E8D6AD;
    padding: 10px 15px;
}

.form-control.form-control-footer::placeholder {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E8D6AD; 
}

.btn-transparent {
    display: flex;
    border: 1px solid #E8D6AD;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #E7E4C7;
    background: transparent;
    padding: 10px;
    justify-content: center;
    width: 100%;
}

.big-photo {
    height: 582px;
    background: rgb(226, 226, 226);
}

.photos-mini {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    flex-direction: row;
}

.mini-photo {
    height: 207px;
    background: rgb(226, 226, 226);
    width: 100%;
}

.shopping-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 60px;
    text-transform: uppercase;
    color: #008041;
}

.shopping-desc {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #423F3F;
}

.shopping-info {
    display: flex;
    background: rgb(231 228 199 / 60%);
    flex-direction: column;
}

.shopping-info {
    display: flex;
    background: rgb(231 228 199 / 60%);
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    margin: 20px 0;
}

.shopping-color-1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(66, 63, 63, 0.5);
}

.shopping-color-info {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #423F3F;
}

.get-information {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: rgba(66, 63, 63, 0.5);
}

.link-shopping {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(66, 63, 63, 0.5);
}

.title-more-info {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #008041;
}

.mail-more-info {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #423F3F;
}

.mail-more-info {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #423F3F;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.telephone-more-info {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #423F3F;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.icon-more-mail {
    background: url(../image/icons/gray/mail-gray.svg) no-repeat;
    height: 22px;
    width: 22px;
}

.icon-more-telephone {
    background: url(../image/icons/gray/telephone-gray.svg) no-repeat;
    height: 22px;
    width: 22px;
}

.icon-more-cart {
    background: url(../image/icons/gray/cart-gray.svg) no-repeat;
    height: 22px;
    width: 22px;
}

.more-contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.shopping-more-info {
    margin-top: 50px;
}

.modal-content {
    background: #FFFFFF;
    border-radius: 0px;
    border: none;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.title-modal-form {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    color: #008041;
}

.desc-modal-form {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(66, 63, 63, 0.5);
}

.content-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}

.form-control.form-control-form {
    border: 1px solid rgba(66, 63, 63, 0.5);
    border-radius: 0;
    padding: 10px 15px;
}

form.subscribe {
    width: 50%;
}

.modal-body.modal-subscribe {
    display: flex;
    justify-content: center;
    padding: 0 0 50px 0;
}

.modalbtn {
    background: #008041;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    padding: 15px 60px;
}

.flex-modal-center {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.modal-body.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-auth-content {
    width: 70%;
}

.nav-auth {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.nav-auth > .nav-item > .nav-link {
    display: flex;
    justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #008041;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF !important;
}

.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
    color: #008041;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.goods {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.goods-photo {
    width: 100px;
    height: 100px;
    background: #eee;
}

.goods-title {
    display: flex;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #008041;
    align-items: center;
    gap: 10px;
}

.goods-cost {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #423F3F;
}

.goods {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.goods-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.delete-goods {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: rgba(66, 63, 63, 0.5);
}

.totalcost {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #423F3F;
}

.payment {
    background: #008041;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 25px;
}

.totalinfo {
    margin-top: 50px;
}

.totalinfo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.number-order {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #423F3F;
}

.informa {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orders {
    background: #fafafa;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.repeat-order {
    display: flex;
    background: #008041;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 20px;
    align-items: center;
}

.remove-order {
    display: flex;
    background: #008041;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 20px;
    align-items: center;
}

.status-order {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    color: #423F3F;
    margin-right: 20px;
}

.order-view {
    display: none;
    padding: 20px;
}

.row.order-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.chatopen {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    background: #E8D6AD;
    font-size: 24px;
    color: #423F3F;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.chat {
    position: fixed;
    right: 30px;
    bottom: 130px;
    background: #f2f2f2;
    padding: 10px;
    width: 350px;
    z-index: 5;
}

.chat-header {
    display: flex;
    background: #008041;
    margin: -10px;
    padding: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #E8D6AD;
    justify-content: center;
}

.chat-body {
    margin: 20px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.message-right {
    display: flex;
    width: 300px;
    justify-content: flex-end;
    padding: 5px;
}

.message-left {
    display: flex;
    width: 300px;
    justify-content: flex-start;
    padding: 5px;
}

.clickbuy {
    margin: 40px 0;
}

.number {
	user-select: none;
	position: relative;
	text-align: left;
	padding: 0;
	width: 140px;
	border: 1px solid #ddd;
	display: inline-block;
}
.number-minus, .number-plus {
	position: absolute;
	top: 0;
	width: 40px;
	height: 32px;
	line-height: 32px;
	display: block;
	background: #faf4f2;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	font-family: arial;
	color: #3e1e02;
	text-decoration: none;
}
.number-minus {
	left: 0;
	border-right: 1px solid #ddd;
}
.number-plus {
	right: 0;
	border-left: 1px solid #ddd;
}
.number-minus:hover, .number-plus:hover {
	background: #fffcfb;
}
.number-minus:active, .number-plus:active {
	background: #e8e4e2;
}
.number-text{
	display: inline-block;
	font-size: 14px;
	color: #000;
	line-height: 32px;
	height: 32px;
	padding: 0;
	margin: 0 0 0 42px;
	background: #fff;
	outline: none;
	border: none;
	width: 57px;
	text-align: center;
}

.select-count {
    margin: 30px 0 0 0;
}

.chatbot {
    z-index: 5;
}

@media (min-width: 320px) and (max-width: 676px) {
    .header-title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 80%;
        margin-bottom: 10px;
    }
    .header-desc {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
    }
    .header-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
        top: 60%;
        transform: translateY(-60%);
        width: 100%;
    }
    .content-header {
        width: 100%;
    }
    .product-image {
        height: 170px;
    }
    h6.content-desc {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #423F3F;
    }
    .pc-nav {
        display: none;
    }
    nav.navbar.bg-body-tertiar.mobile-nav {
        background: #008041;
    }
    .panel-mobile-info {
        display: flex;
        background: #E7E4C7;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #008041;
        justify-content: space-between;
        padding: 15px 10px;
    }
    .link {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #E8D6AD;
        text-decoration: none;
    }
    .image-info {
        width: 170px;
        height: 113px;
        background-size: 90%;
    }
    .image-water {
        position: absolute;
        height: 202px;
        width: 170px;
        background-size: 90%;
        bottom: -25px;
    }
    .greenback {
        height: 139px !important;
        background-size: 90%;
    }
    .text-info-content {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #423F3F;
        width: 100%;
        padding: 20px 10px;
    }
    .container.content-index {
        position: relative;
        z-index: 10;
        margin-bottom: -80px;
    }
    .text-content {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: #423F3F;
    }
    .headline {
        font-size: 22px;
    }
    .image-aboutus {
        width: 75px;
        height: 56px;
    }
    .subscribe-title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: #423F3F;
    }
    .subscribe-desc {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: rgba(66, 63, 63, 0.5);
    }
    .namepage {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .title-page-about {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: #008041;
    }
    .text-page-about {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #423F3F;
        margin-top: 10px;
    }
    .col-md-6.col-6.right-content.mobile-col-none {
        display: none;
    }
    .col-md-6.col-6.mobile-col-6 {
        width: 100%;
    }
    .image-page-about {
        height: 131px;
    }
    .container.content-about {
        z-index: 10;
        margin-bottom: -70px;
    }
    .about-content-image2 {
        height: 115px;
        background-size: 100%;
    }
    .about-content-image1 {
        height: 115px;
        background-size: 100%;
    }
    .about-content-imgtext {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #008041;
    }
    .contact-content-desc {
        margin-bottom: 60px;
    }
    .big-photo {
        height: 336px;
    }
    .mini-photo {
        height: 130px;
    }
    .shopping-title {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        text-transform: uppercase;
        color: #008041;
    }
    .shopping-desc {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #423F3F;
    }
    .shopping-info {
        display: flex;
        background: rgb(231 228 199 / 60%);
        flex-direction: column;
        padding: 15px;
        gap: 15px;
        margin: 20px -15px;
    }
    .get-information {
        display: none;
    }
    form.subscribe {
        width: 80%;
    }
    .orders {
        background: #fafafa;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
        flex-direction: column;
    }
    .informa {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        margin-top: 20px;
    }
    .status-order {
        margin: 0;
    }
}

@media (min-width: 676px) {
    .panel-mobile-info {
        display: none;
    }
    nav.navbar.bg-body-tertiar.mobile-nav {
        display: none;
    }
}