<!DOCTYPE html>
<html lang="en">
<head>
    <title>VM Best Choice - Contact Us</title>

    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/media/css/bootstrap.min.css">
    <link rel="stylesheet" href="/media/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/media/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/media/css/main.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/media/css/chatbot.css">

    <!-- JS -->
    <script src="/media/js/jquery-3.6.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/owl.carousel.min.js"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-main" style="height: 300px;">
        <!-- NAVIGATION -->
        <nav class="navbar navbar-expand-lg bg-green pc-nav">
            <div class="container">
              <a href="/" class="logotype"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact us</a>
                  </li>
                </ul>

                <ul class="nav m-auto">
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2"><div class="icon-nav-email"></div> example@example.com</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2"><div class="icon-nav-telephone"></div> +1 555 555 12 12 12</a></li>
                </ul>

                <ul class="nav">
                    <li class="nav-item"><a href="/cart" class="nav-link link-dark px-2"><div class="icon-nav-cart"></div></a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign in <div class="icon-nav-lock"></div></a></li>
                </ul>
              </div>
            </div>
        </nav>

        <!-- MOBILE NAVIGATION -->
        <nav class="navbar bg-body-tertiar mobile-nav">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="icon-nav-hamburger"></span>
                </button>
                
                <a href="/" class="logotype-mobile"></a>

                <a href="/" class="link">Sign in</a>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                    <a href="/" class="logotype-green"></a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav navbar-offcanvas">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><div class="nav-icon-info"> </div>About us</a>
                            </li>

                            <div class="linenav"></div>

                            <li class="nav-item">
                                <a class="nav-link" href="#"><div class="nav-icon-list"> </div>Products</a>
                            </li>

                            <div class="linenav"></div>

                            <li class="nav-item">
                                <a class="nav-link" href="#"><div class="nav-icon-book"> </div>Contact us</a>
                            </li>

                            <div class="linenav"></div>

                            <li class="nav-item">
                                <a class="nav-link" href="/cart"><div class="nav-icon-book"> </div>Shopping cart</a>
                            </li>
                        </ul>
                        
                        <div class="header-headline">
                            Our contacts
                        </div>

                        <ul class="navbar-nav navbar-offcanvas">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><div class="nav-icon-mail"> </div>example@example.com</a>
                            </li>

                            <div class="linenav"></div>

                            <li class="nav-item">
                                <a class="nav-link" href="#"><div class="nav-icon-telephone"> </div>+1 555 555 12 12 12</a>
                            </li>

                            <div class="linenav"></div>

                            <li class="nav-item">
                                <a class="nav-link" href="#"><div class="nav-icon-facebook"> </div>Connect in Facebook</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
        <div class="panel-mobile-info">
            <div class="email-info">example@example.com</div>
            <div class="telephone-info">+1 555 555 12 12 12</div>
        </div>

        <div class="container">
            <div class="header-content header-pages">
                <h1 class="namepage">Contact us</h1>
            </div>
        </div>
    </header>

    <!-- SECTION: Contact -->
    <section class="info">
        <div class="container content-contact">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-content-title">
                        Contacts
                    </div>
        
                    <div class="contact-content-desc">
                        The goal here is to bring value back to the generically used and often abused definition of “American made.” Most of us still wa
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="contact-list">
                        <div class="contact-element">
                            <div class="icon-green-mail"></div>
                            <div class="text-contact">example@example.com</div>
                        </div>
    
                        <div class="contact-element">
                            <div class="icon-green-telephone"></div>
                            <div class="text-contact">+1 555 555 12 12 12</div>
                        </div>
    
                        <div class="contact-element">
                            <div class="icon-green-facebook"></div>
                            <div class="text-contact">Connect in Facebook</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- SECTION: Subscribe -->
    <section class="section-subscribe">
        <div class="section-subscribe-content">
            <div class="subscribe-title">Subscrbe for more info and newsletters</div>
            <div class="subscribe-desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia</div>
            <a href="/" class="btn-subscribe">Subscribe</a>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer-vm">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <a href="/" class="logotype-footer"></a>
                    </div>

                    <div class="mb-3">
                        <div class="company-name">VM BEST CHOISE</div>
                        <div class="company-info">
                            State Prison 2008. We installed Purex dispensers throughout the prison to combat
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="phone-name">Phone</div>
                        <div class="phone-number">
                            +1 23 23 2 323 23
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <div class="email-name">Email</div>
                        <div class="email-adress">
                            example@example.com
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="social-name">Follow us</div>
                        <div class="social-icons">
                            <a href="https://facebook.com/" class="icon-facebook"></a>
                            <a href="https://instagram.com/" class="icon-instagram"></a>
                            <a href="https://yelp.com" class="icon-yelp"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-header">Main</div>

                    <nav class="footer-navigation">
                        <ul class="footer-nav">
                            <li class="link-footer">
                                <a href="/">About us</a>
                                <a href="/">Shipping</a>
                                <a href="/">Terms and conditions</a>
                                <a href="/">Payments</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-4">
                    <div class="footer-header">Contact us</div>

                    <form action="" method="post">
                        <div class="mb-3">
                            <input type="email" class="form-control form-control-footer" placeholder="Name">
                        </div>

                        <div class="mb-3">
                            <input type="email" class="form-control form-control-footer" placeholder="Surname">
                        </div>

                        <div class="mb-3">
                            <input type="email" class="form-control form-control-footer" placeholder="E-mail">
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control form-control-footer" rows="3"></textarea>
                        </div>

                        <div class="mb-3">
                            <button class="btn-transparent">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="copyright">
            <div class="copyright-text">© Copyright 2015-2020. All Rights Reserved.</div>
        </div>
    </footer>

    <!-- chatbot__btn -->
    <div class="chatbot__btn">
        <div class="chatbot__tooltip d-none">Есть вопрос?</div>
    </div>

    <!-- FingerPrint JS -->
    <script src="/media/js/fp2.js"></script>
    <!-- ChatBot JS -->
    <script src="/media/js/chatbot.js"></script>

    <script>
        // конфигурация чат-бота
        const configChatbot = {};
        // CSS-селектор кнопки, посредством которой будем вызывать окно диалога с чат-ботом
        configChatbot.btn = '.chatbot__btn';
        // ключ для хранения отпечатка браузера
        configChatbot.key = 'fingerprint';
        // реплики чат-бота
        configChatbot.replicas = {
        bot: {
            0: { content: ['Hello! My name is', 'Could you write your first and last name?'], human: [0] },
            1: { content: 'Could you write your email?', human: [1] },
            2: { content: 'Could you send your phone number?', human: [2] },
            3: { content: 'Thank you! How can I help you?', human: [3] },
            4: { content: 'Thanks for the question! Well get back to you shortly!', human: [4] },
        },
        human: {
            0: { content: '', bot: 1, name: 'name' },
            1: { content: '', bot: 2, name: 'email' },
            2: { content: '', bot: 3, name: 'number' },
            3: { content: '', bot: 4, name: 'text' },
            4: { content: 'В начало', bot: 3 },
        }
        }
        // корневой элемент
        configChatbot.root = SimpleChatbot.createTemplate();
        // URL chatbot.php
        configChatbot.url = '/chatbot/chatbot.php';
        // создание SimpleChatbot
        let chatbot = new SimpleChatbot(configChatbot);
        // при клике по кнопке configChatbot.btn
        document.querySelector(configChatbot.btn).onclick = function (e) {
        this.classList.add('d-none');
        const $tooltip = this.querySelector('.chatbot__tooltip');
        if ($tooltip) {
            $tooltip.classList.add('d-none');
        }
        configChatbot.root.classList.toggle('chatbot_hidden');
        chatbot.init();
        };

        // добавление ключа для хранения отпечатка браузера в LocalStorage
        let fingerprint = localStorage.getItem(configChatbot.key);
        if (!fingerprint) {
        Fingerprint2.get(function (components) {
            fingerprint = Fingerprint2.x64hash128(components.map(function (pair) {
            return pair.value
            }).join(), 31)
            localStorage.setItem(configChatbot.key, fingerprint)
        });
        }

        // подсказка для кнопки
        const $btn = document.querySelector(configChatbot.btn);
        $btn.addEventListener('mouseover', function (e) {
        const $tooltip = $btn.querySelector('.chatbot__tooltip');
        if (!$tooltip.classList.contains('chatbot__tooltip_show')) {
            $tooltip.classList.remove('d-none');
            setTimeout(function () {
            $tooltip.classList.add('chatbot__tooltip_show');
            }, 0);
        }
        });
        $btn.addEventListener('mouseout', function (e) {
        const $tooltip = $btn.querySelector('.chatbot__tooltip');
        if ($tooltip.classList.contains('chatbot__tooltip_show')) {
            $tooltip.classList.remove('chatbot__tooltip_show');
            setTimeout(function () {
            $tooltip.classList.add('d-none');
            }, 200);
        }
        });

        setTimeout(function () {
        const tooltip = document.querySelector('.chatbot__tooltip');
        tooltip.classList.add('chatbot__tooltip_show');
        setTimeout(function () {
            tooltip.classList.remove('chatbot__tooltip_show');
        }, 10000)
        }, 10000);
    </script>
</body>
</html>